.idea/
cmake-build-*/
.vscode/
__pycache__

# Artifacts
*.exe
*.lib
*.obj


# Visual Studio
.vs/
*.idb
*.ilk
*.tlog
*.lib.recipe
*.exe.recipe
*.pdb
*.testdurations
*.pch
*/Debug/*.log
*.vcxproj.*

# QtCreator
CMakeLists.txt.user
